<!-- Login Usuario -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background: #f89c12">
  <div class="container">  
    <a class="navbar-brand text-white" href="#">Subgerencia de Integración Funcional</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item rounded">
          <span class="nav-link text-white" href="#">Bienvenido</span>
        </li>
        <li class="nav-item">
          <span class="nav-link text-white rounded bf" href="#">{{ usrSAF }}</span>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- Usuario NO IDENTIFICADO 
<nav *ngIf="usrVal == false" class="navbar navbar-light bg-faded mb-4" style="background: rgb(243, 156, 18);">
    <div class="container">
      <a class="navbar-brand text-white" href="#">Subgerencia de Integración Funcional</a> 
      <a href="javascript:void(0);">Usuario no identificado</a>
    </div>
</nav>-->

